{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "env": {
    "test": {
      "plugins": [
        "@babel/plugin-transform-react-jsx",
        "@babel/plugin-transform-modules-commonjs",
        "@babel/plugin-transform-runtime"
      ]
    }
  }
}