@import url('https://cdn.jsdelivr.net/gh/naen-nae/fonts@purge-cache-for-subsets/build/css/NotoSansCJKkr.css');

body {
    font-size: 14px;
    font-family: "NotoSansCJKkr", serif, Nanum Gothic, Malgun Gothic, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    background-color: #f7f7f7;
    min-height: 100vh;
    display: flex;
}

#main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 20px;
}

#content {
    min-height: 90vh;
}


.hide {
    display: none;
}

nav a.active {
    color: #fff;
}
